.verify {
    position: absolute;
    width: 400px;
    /* background: #fff; */
    /* border: 1px solid #dddfe2; */
    /* box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%); */
    /* border-radius: 8px; */
    align-items: right;
    text-align: center;
    /*margin-left: 954px;
    margin-top: 186px;*/
    text-align: center;
    top: -249px;
}


.verify input {
    border-radius: 8px;
    border: 2px solid #dddfe2;
    outline: none;
    color: #1d2129;
    margin: 0.5rem 0;
    padding: 0.5rem 0.75rem;
    width: 92%;
    font-size: 1rem;
}

.verify .button {
   background: #1877f2; 
    border: 1px solid #1877f2;
    color: #fff;
    font-size: 1.25rem;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    opacity: 1;
    transition: 0.3s;
    display: inline-block;
    width: 378px;
}

/*.button:hover a{
    opacity: 0.8;
    font-weight: bold;
    color: black;
}*/

.button{
    text-decoration: none;
}

.button:hover{
    opacity: 0.8;
    font-weight: bold;
    color: black;
}

.view{
    height: 500px;
    width: 1200px;
    margin-left: -825px;
}

#display{
    border: 10px solid #1d2129;
    height: 500px;
    width: 880px;/*1200px*/
}

.qr{
    height: 200px;
    width: 200px;
    margin-left: 85px;
    margin-bottom: 221px;
}

.text{
    height: 200px;
    width: 200px;
    margin-left: 85px;
    margin-bottom: 221px;
}
/*.verify-link{
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

.verify-link:hover{
    opacity: 0.8;
    font-weight: bold;
    color: black;
}*/